.version.index /* version checker */
{
	color: #000005;
	background-color: #92CED6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
}

#u93
{
	z-index: 2;
	padding-bottom: 12px;
}

#u91-4
{
	z-index: 3;
	margin-right: -10000px;
	margin-top: 98px;
	left: 162px;
}

#u93-bw
{
	z-index: 2;
	height: 161px;
}

#pu94-35
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 23px;
}

#u94-35
{
	z-index: 16;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 152px;
}

#u113
{
	z-index: 51;
	width: 1160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 865px;
}

#u204
{
	z-index: 88;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 699px;
}

#u216
{
	z-index: 90;
	width: 414px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 655px;
}

#u126
{
	z-index: 53;
	width: 1160px;
	background-color: transparent;
	left: -100px;
	margin-top: 46px;
	position: relative;
}

#u131
{
	z-index: 55;
	width: 1160px;
	background-color: transparent;
	left: -100px;
	margin-top: 46px;
	position: relative;
}

#u136
{
	z-index: 57;
	width: 1160px;
	background-color: transparent;
	left: -100px;
	margin-top: 47px;
	position: relative;
}

#u141
{
	z-index: 59;
	width: 1160px;
	background-color: transparent;
	left: -100px;
	margin-top: 46px;
	position: relative;
}

#u146
{
	z-index: 61;
	width: 1160px;
	background-color: transparent;
	left: -100px;
	margin-top: 46px;
	position: relative;
}

#u168
{
	z-index: 63;
	width: 1160px;
	background-color: transparent;
	left: -100px;
	margin-top: 46px;
	position: relative;
}

#u170
{
	z-index: 65;
	width: 1160px;
	background-color: transparent;
	left: -100px;
	margin-top: 46px;
	position: relative;
}

#u180
{
	z-index: 67;
	width: 1160px;
	background-color: transparent;
	left: -100px;
	margin-top: 46px;
	position: relative;
}

#u186-19
{
	z-index: 69;
	display: block;
	vertical-align: top;
	margin-left: 59px;
	margin-top: 46px;
	position: relative;
}

#u223
{
	z-index: 92;
	width: 1135px;
	background-color: transparent;
	left: -88px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u96
{
	z-index: 7;
	padding-bottom: 52px;
}

#u93_align_to_page,#u96_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u97-4
{
	z-index: 8;
	margin-right: -10000px;
	margin-top: 17px;
	left: 162px;
}

#u98-4
{
	z-index: 12;
	margin-right: -10000px;
	margin-top: 51px;
	left: 697px;
}

#u96-bw
{
	z-index: 7;
	margin-top: 19px;
	height: 94px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

