#u93
{
	background: -webkit-gradient(linear, left center, right center, from(#C45A10),color-stop(100%, #FFAD30));
	background: -webkit-linear-gradient(left,#C45A10 ,#FFAD30 100%);
	background: -o-linear-gradient(left,#C45A10 ,#FFAD30 100%);
	background: linear-gradient(to right,#C45A10 ,#FFAD30 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFC45A10, endColorstr=#FFFFAD30, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC45A10', endColorstr='#FFFFAD30', GradientType=1)";
	border-style: none;
	background-size: 100% auto;
}

.Style
{
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	background-color: #C45A10;
}

#u96
{
	background: -webkit-gradient(linear, left center, right center, from(#C45A10),color-stop(100%, #FFAD30));
	background: -webkit-linear-gradient(left,#C45A10 ,#FFAD30 100%);
	background: -o-linear-gradient(left,#C45A10 ,#FFAD30 100%);
	background: linear-gradient(to right,#C45A10 ,#FFAD30 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFC45A10, endColorstr=#FFFFAD30, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC45A10', endColorstr='#FFFFAD30', GradientType=1)";
	border-style: none;
	background-size: 100% auto;
}

#u93_align_to_page,#u96_align_to_page
{
	position: relative;
}

#u91-4,#u97-4,#u98-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

